services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    command: --innodb_autoinc_lock_mode=0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: microservices_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - DB_HOST=mysql-db
      - DB_NAME=microservices_db
      - DB_USER=root
      - DB_PASSWORD=root
      - JWT_SECRET=supersecret
    depends_on:
      mysql-db:
        condition: service_healthy

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=development
      - DB_HOST=mysql-db
      - DB_NAME=microservices_db
      - DB_USER=root
      - DB_PASSWORD=root
    depends_on:
      mysql-db:
        condition: service_healthy

  resource-service:
    build: ./resource-service
    container_name: resource-service
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=development
      - DB_HOST=mysql-db
      - DB_NAME=microservices_db
      - DB_USER=root
      - DB_PASSWORD=root
    depends_on:
      mysql-db:
        condition: service_healthy

volumes:
  mysql_data:
